.popup {
  width: 100%;
  border-radius: 16px;
  border: 1px solid #ECECEC;
  box-shadow: 0 3.2rem 6.4rem 0 rgba(0, 0, 0, 0.05);
  overflow: hidden;
  &__body {
    padding: 0.8rem 1.2rem;
    background: rgba(245, 245, 245, 0.80);
    backdrop-filter: blur(2.4rem);
  }
  &__header {
    margin-bottom: 3.2rem;
    &-top {
      display: flex;
      align-items: center;
      margin-bottom: 3.2rem;
    }
    &-bottom {
      display: flex;
      align-items: center;
      .popup__title {
        margin-right: auto;
      }
    }
    .btn {
      margin-left: 1.6rem;
    }
  }
  &__title {
    margin-right: 3.2rem;
    font-size: 1.8rem;
  }
  &__subtitle {
    margin-bottom: 3.2rem;
    font-size: 2rem;
    font-weight: bold;
    color: var(--accent);
  }
  &__search {
    margin-bottom: 1rem;
    input {
      margin-left: 1rem;
      background: transparent;
      border: none;
    }
  }
  &__import {
    position: relative;
    input {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: 1;
      cursor: pointer;
    }
    span {
      position: relative;
      z-index: 2;
      pointer-events: none;
      cursor: pointer;
    }
  }
}