.sublist {
  flex: 0 0 100%;
  padding-top: 1.6rem;
  border-top: 1px solid var(--accent);
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 1.6rem;
    font-size: 1.4rem;
    border-bottom: 1px solid rgba(0,0,0,.1);
    &:last-of-type {
      border: none;
    }
  }
  &__delete {
    border: none;
    background: transparent;
    cursor: pointer;
  }
}
